body {
    user-select:none;
    -webkit-user-select:none;
    touch-action: none;
}

#drawing {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

#options {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background-color: #555555;
    z-index: 0;
}

#last-commit {
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 200px;
    height: 50px;
    text-align: right;
    line-height: 50px;
    color: #999999;
}

#cover-div {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: #FFFFFF;
    opacity: 0.5;
    -webkit-opacity: 0.5;
    line-height: 100%;
    text-align: center;
    display: none;
}

#options div {
    line-height: 50px;
    color: #FFFFFF;
    padding-right: 20px;
    display: inline;
}

#action-list {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 300px;
    background-color:#000000;
    padding-left: 20px;
    opacity: 0.8;
    -webkit-opacity: 0.8;
    z-index: 101;
    display: none;
}

#action-list-title {
    margin-top: 50px;
    font-size: 24px;
    color: #FFFFFF;
}

#action-list-content {
    margin-top: 30px;
    font-size: 16px;
    color: #FFFFFF;
}

#action-list-content tr:hover {
    background-color: #333333;
}

#action-list-cancel-button {
    margin-top: 30px;
    font-size: 12px;
    color: #FFFFFF;
}